{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block pageContent %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bcap373_app/css/history.css' %}"> -->


<div class="col-sm custom-grid">
    <div class="well">
        <div class="top-header">
            <div>
                <h4 class="history-title">All Events</h4>
            </div>
            <div class="home-right">
                <a href='/new_event'>
                    <button class="btn btn-primary">Add event</button>
                </a>
                <!-- <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search" name="search">
                        <button type="submit"><i class="material-icons md-48">search</i></button>
                    </form>
                </div> -->
            </div>
        </div>

        <div class="tools">
            <div class="left-menu">
                <div class="dropdown" style="margin-right:10px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter & Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <h4>Filter by:</h4>
                        <form method="get">
                            {{myFilter.form}}
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div>
                    <a href="/export/{% if id != '' %}?id={{id}}{% endif%}"><button type="button" class="btn btn-outline-primary">Export</button></a>
                </div>
            </div>

            <div class="pagination">
                <p style="margin-right: 20px;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                {% if page_obj.has_previous %}
                    <a href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}"><i class="material-icons md-48">keyboard_arrow_left</i></a>
                {% else %}
                    <i class="material-icons md-48">keyboard_arrow_left</i>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}"><i class="material-icons md-48">keyboard_arrow_right</i></a>
                {% else %}
                    <i class="material-icons md-48">keyboard_arrow_right</i>
                {% endif %}
            </div>
        </div>

        <div>
            <ul class="data-frame">
                <li class="data-item frame-header">
                    <dl>
                        <dt class = "rowheader">Name of Event</dt>
                        <dd class = "rowheader">Supervisor</dd>
                        <dd class = "rowheader">Manage</dd>
                    </dl>
                </li>
                {% for r in page_obj %}
                    <li class="data-item">
                        <dl>
                            <dd class="event-name">{{ r.name }}</dd>
                            {% if r.event_supervisor %}
                                <dd class="supervisor"><a href="/view_user/?user={{r.event_supervisor.id}}">{{ r.event_supervisor }}</a></dd>
                            {% else %}
                                <dd class="supervisor">None specified</dd>
                            {% endif %}
                            <dd class="hours"><a href="/update-event/?id={{r.id}}"><i class="material-icons md-48">edit</i></a></dd>
                        </dl>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<script>
    const btn = document.getElementById('id_o').nextElementSibling;
    btn.insertAdjacentHTML('beforebegin','<br/><br/>');
    document.getElementById('id_o').previousElementSibling.style.display = "none";
    document.getElementById('id_o').previousElementSibling.insertAdjacentHTML('beforebegin','<br/><br/><h4>Order by:<br/>');
</script>
</html>

{% endblock %}