{% extends "base.html" %}
{% load static %}
{% block pageContent %}

<div class="col-sm custom-grid">
    <div class="well">
        <div class="top-header">
            <div>
                {% if request.META.HTTP_REFERER %}
                    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
                    <br/>
                    <br/>
                {% endif %}
                <div class="tools"></div>  
            </div>
        </div>
        <form method="POST" id="form" style="width: 0%;"> {% csrf_token %}
            <div class="align-fields-general">
                <h4>
                    Export all volunteer account information
                    {{ name }}
                </h4>
                </h5>This will generate an excel file with the following rows: </h5>
                <ol>
                    <li>Volunteer name</li>
                    <li>Email</li>
                    <li>Number of hours in the system</li>
                </ol>
                <i>The date picker will only include accounts that were created after the
                start date and before the end date. You can find the date a user's account
                was created in the system by navigating to their profile and looking at the
                date created row.</i>
                {% for field in form %}
    
                <p>
                    <div class="align-labels">
                        {% if field.field.required %}
                            {{ field.label_tag }}
                            <div class="required-circle"><p class="required-circle-inner">Required</p></div>
                        {% else %}
                            {{ field.label_tag }}
                        {% endif %} <br/>
                    </div>
                    <div class="align-fields">
                        {{ field }} 
                    </div>
                </p>

                {% endfor %}
            </div>
            <br/>
            <div class="align-fields button-holder custom-margins"></div>
            <button class="btn wide-btn btn-primary" type="submit" form="form" href="{% url 'export_csv' %}">Export CSV</button>
            </div>
        </form>
    </div>
</div>

{% endblock pageContent%}