{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block pageContent %}

<div class="col-sm custom-grid">
    <div class="well">
        
        <div class="center-page center-text">
            <div class="form-group"> 
                {% if request.META.HTTP_REFERER %}
                    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
                    <br/>
                    <br/>
                {% endif %}
                <h4>Profile of <b>{{ view_user }}</b></h4>
                {% include 'messages.html' %}
                <div class="tools"></div>        
                <table class="profile-table">
                    <tr>
                        <td> <b>First Name:</b> </td>
                        <td>{{ view_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td> <b>Last Name:</b> </td>
                        <td>{{ view_user.last_name }}</td>
                    </tr>
                    <tr>
                        <td> <b>Username:</b> </td>
                        <td>{{ view_user.username }} <i>(User ID: {{ view_user.id }})</i></td>
                    </tr>
                    <tr>
                        <td> <b>Email:</b> </td>
                        <td>{{ view_user.email }}</td>
                    </tr>
                    <tr>
                        <td> <b>Phone:</b> </td>
                        <td>{{ view_user.profile.phone|phonenumber }}</td>
                    </tr>
                    <tr>
                        <td> <b>Birth Date:</b> </td>
                        <td>{{ view_user.profile.birth_date }}</td>
                    </tr>
                    <tr>
                        <td> <b>User Role:</b> </td>
                        <td>{% if view_user.is_staff %} BCAP Staff {% else %} Volunteer {% endif %}</td>
                    </tr>
                    <tr>
                        <td> <b>Date of account creation in system:</b> </td>
                        <td>{{ view_user.date_joined }} UTC</td>
                    </tr>
                    <tr>
                        <td> <b>Waiver in system?</b> </td>
                        <td {% if view_user.profile.waiver %} style="color:#44a906" {% endif %}>{% if view_user.profile.waiver %} {{ view_user.profile.waiver }} {% else %} No {% endif %}</td>
                    </tr>
                </table>
                <br/>
                <div class="button-holder custom-margins">
                    <a href="/update-user/?id={{view_user.id}}"><button class="btn btn-primary px-2 m-3">Edit User</button></a>
                </div>
                <br/>
            </div>
            {% if view_user.is_staff %}
            {% else %}
                <div class="tools"></div>
                <div>
                    <h4> Hours Information </h4>
                    <div>
                        <p> They have worked <a href="/history/?owner={{view_user.id}}"><span style="font-weight: bold">{{ hours }}</span> hours</a> so far (click the link to view hours breakdown).</p>
                        <p><a href="/certificate/?id={{view_user.id}}">Generate certificate</a></p>
                    </div>
                </div>
            {% endif %}  
        </div>
                
        </div>
    </div>
</div>


{% endblock pageContent%}
