{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block pageContent %}

<div class="col-sm custom-grid">
    <div class="well">
        
        <div class="center-page center-text">
            <div class="form-group"> 
                {% if request.META.HTTP_REFERER %}
                    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
                    <br/>
                    <br/>
                {% endif %}
                <h4>Profile of <b>{{ view_user }}</b> (User ID {{ view_user.id}})</h4>
                <div class="tools"></div>        
                <table class="profile-table">
                    <tr>
                        <td> First Name: </td>
                        <td>{{ view_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td> Last Name: </td>
                        <td>{{ view_user.last_name }}</td>
                    </tr>
                    <tr>
                        <td> Email: </td>
                        <td>{{ view_user.email }}</td>
                    </tr>
                    <tr>
                        <td> Phone: </td>
                        <td>{{ view_user.profile.phone|phonenumber }}</td>
                    </tr>
                    <tr>
                        <td> Birth Date: </td>
                        <td>{{ view_user.profile.birth_date }}</td>
                    </tr>
                    <tr>
                        <td> User Role: </td>
                        <td>{% if view_user.is_staff %} BCAP Staff {% else %} Volunteer {% endif %}</td>
                    </tr>
                    <tr>
                        <td> Date of account creation in system: </td>
                        <td>{{ view_user.date_joined }}</td>
                    </tr>
                    <tr>
                        <td> Waiver in system? </td>
                        <td {% if view_user.profile.waiver %} style="color:#4fab16" {% endif %}>{% if view_user.profile.waiver %} {{ view_user.profile.waiver }} {% else %} No {% endif %}</td>
                    </tr>
                </table>
                <br/>
                <div class="button-holder custom-margins">
                    <a href="/admin/auth/user/{{view_user.id}}/change/"><button class="btn btn-primary px-2 m-3">Edit User</button></a>
                </div>
                <br/>
            </div>
            {% if view_user.is_staff %}
            {% else %}
                <div class="tools"></div>
                <div>
                    <h4> Hours Information </h4>
                    <div>
                        <p> They have worked <a href="/history/?owner={{view_user.id}}"><span style="font-weight: bold">{{ hours }}</span> hours</a> so far (click the link to view hours breakdown).</p>
                        <p><a href="/certificate/?id={{view_user.id}}">Generate certificate</a></p>
                    </div>
                </div>
            {% endif %}  
        </div>
                
        </div>
    </div>
</div>


{% endblock pageContent%}
