{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block pageContent %}

<div class="col-sm custom-grid">
    <div class="well">
        
        <div class="center-page center-text">
            <div class="form-group"> 
                <h4>Your Profile</h4>
                <div class="tools"></div>        
                <table class="profile-table">
                    <tr>
                        <td> <b>First Name:</b> </td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td> <b>Last Name:</b> </td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td> <b>Email:</b> </td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td> <b>Phone:</b> </td>
                        <td>{{ user.profile.phone|phonenumber }}</td>
                    </tr>
                    <tr>
                        <td> <b>Birth Date:</b> </td>
                        <td>{{ user.profile.birth_date }}</td>
                    </tr>
                    <tr>
                        <td> <b>User Role:</b> </td>
                        <td>{% if user.is_staff %} BCAP Staff {% else %} Volunteer {% endif %}</td>
                    </tr>
                    <tr>
                        <td> <b>Date of account creation in system:</b> </td>
                        <td>{{ user.date_joined }} UTC</td>
                    </tr>
                </table>
                <br/>
                <div class="button-holder custom-margins">
                    <a href="/update-profile/"><button class="btn btn-primary px-2 m-3">Update Profile</button></a>
                </div>
                <br/>
            </div>
            <div class="tools"></div>
            <div>
                <h4> Hours Information </h4> 
                <div>
                    <p> You have worked <a href="/history"><span style="font-weight: bold">{{ hours }}</span> hours</a> so far.</p>
                </div>
            </div>  
        </div>
                
        </div>
    </div>
</div>


{% endblock pageContent%}
