{% load static %}
{% block pageHeader %} 
    <link rel="stylesheet" type="text/css" href="{% static 'bcap373_app/css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock pageHeader%}

{% block pageContent %}
<body>
  <div class="small-frame">
    <img alt="logo" class="logo" src = "{% static 'bcap373_app/img/bcap373_logo.png' %}">
    <form method="post">
      {% csrf_token %}
      <div class="align-fields-general">
        {% for field in user_form %}
          <p>
            <div class="align-fields">
              <div class="align-labels">
                {% if field.field.required %}
                  {{ field.label_tag }} <i>(Required)</i>
                {% else %}
                  {{ field.label_tag }}
                {% endif %}
                
              </div>
              <div class="align-labels">
                {{ field }} 
              </div>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>
          </p>
        {% endfor %}
        
      </div>
      <div class="button-holder custom-margins">
        <button class="btn wide-btn-2 btn-primary" type="submit">Sign up</button>
      </div>
    </form>
    <p class="center-text">
        Already have an account?<a class="a-btn px-1 m-1" href="/login/" > Sign in.</a>
      </p>
  </div>

  <script>
    document.getElementById('id_phone').type = 'number';
    document.getElementById('id_phone').min = '0';
  </script>
</body>
{% endblock %}