{% extends "base.html" %}
{% load static %}
{% block pageContent %}

<div class="col-sm custom-grid">
    <div class="well">
        <div class="top-header">
            <div>
                <a href="/events">Back to events</a>
                <div class="tools"></div>  
            </div>
        </div>
        <form method="POST" id="form" style="width: 0%;"> {% csrf_token %}
            <div class="align-fields-general">
                <h4>Update event</h4>
                {% for field in event_form %}
    
                <p>
                    <div class="align-labels">
                        {% if field.field.required %}
                            {{ field.label_tag }} <i>(Required)</i>
                        {% else %}
                            {{ field.label_tag }}
                        {% endif %} <br/>
                    </div>
                    <div class="align-fields">
                        {{ field }} 
                    </div>
                </p>
    
                {% endfor %}
    
            </div>
            <br/>
            <div class="button-holder custom-margins">
                <button class="btn btn-primary px-2 m-3" type="submit" form="form">Save changes</button>
                <br/>
                <br/>
                <button class="btn btn-primary px-2 m-3 danger" type="submit" form="form"><a href="/delete_event?id={{id}}" style="color:white;">Delete</a></button>
            </div>
        </form>
    </div>
</div>

{% endblock pageContent%}